<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume - Yogarajalakshmi S</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <div class="container">
        <h1>Yogarajalakshmi Sathyanarayanan</h1>
        <div class="contact">
            <p>Brooklyn, NY | <a href="mailto:ys6678@nyu.edu">ys6678@nyu.edu</a> | <a href="https://www.linkedin.com/in/yogarajalakshmi-sathyanarayanan-9b632b19b/">LinkedIn</a> | <a href="https://yogarajalakshmi-s.github.io/">Portfolio</a> | <a href="https://github.com/yogarajalakshmi-s/">GitHub</a></p>
        </div>

        <div class="section">
            <h2>Education</h2>
            <p><b>New York University</b>, New York [Expected Graduation - May, 2026]</p>
            <p><i>Master of Science, Computer Science</i></p>
            <p>Relevant Coursework: Software Engineering, Design and Analysis of Algorithms, Machine Learning</p>
            <p><b>Anna University</b>, India [April 2021]</p>
            <p><i>Bachelor of Engineering - Electronics and Commuincation</i></p>
            <p>CGPA: 9.37/10</p>
            <p>Relevant Coursework: Data Structures and Algorithms, Problem Solving Using Programming in C, Linux and Programming in C++</p>
        </div>

        <div class="section">
            <h2>Technical Skills</h2>
                <p><b>Programming Languages: </b>Python, Ruby</p>
                <p><b>Web development: </b>Flask, Ruby on Rails, MySQL, Rest and Fast APIs, HTML/CSS, Bootstrap, Jinja templates</p>
                <p><b>Tools and Libraries: </b>Git, Bash, Jenkins CI/CD, Docker, Garfana, Redis, Pandas</p>
        </div>

        <div class="section">
            <h2>Experience</h2>
            <p><b>Software Engineer</b>, Freshworks, India &nbsp; [April 2022 - March 2023]</p>
            <ul>
                <li>Developed multiple features for the SaaS CRM web application 'Freshservice', including ideation, tech design, development, unit testing, and post-deployment support.</li>
                <li>Collaborated with 15-member team in creating a new billing module, developing REST APIs and handling external webhooks.</li>
                <li>Executed the seamless migration of 70,000 customer accounts across 14 global sites, to the new billing module.</li>
                <li>Mentored two graduate engineering trainees, assigned tasks and reviewed their pull requests.</li>
            </ul>
            <p><b>Graduate Engineering Trainee</b>, Freshworks, India &nbsp; [July 2021 - March 2022]</p>
            <ul>
                <li>Resolved 20+ bugs and prioritized completing cross-site scripting security issues.</li>
                <li>Improved application's test coverage from 70% to 85% by writing RSpec and mini testcases for APIs, hence ensuring proper functioning of the application.</li>
                <li>Conducted retro sessions biweekly and fun sessions weekly, with the team.</li>
            </ul>
            <p><b>Intern - Software Engineer</b>, Freshworks, India &nbsp; [Feb 2021 - June 2021]</p>
            <ul>
                <li>Developed a major customer feature request, wrote test cases and delivered the task on time.</li>
                <li>Received SPOT recognition for performing well as an intern.</li>
            </ul>
        </div>

        <div class="section">
            <h2>Projects</h2>
            <p><b>Restaurant App</b> | Python, Vue.js, HTML, CSS, SQLAlchemy, FastAPI, Git, Docker | Oct 2023</p>
            <p><b>Finalist of CERN Coding Challenge, Switzerland </b></p>
            <ul>
                <li>Developed an end-to-end restaurant application with authentication and order placement.</li>
                <li>Integrated chat features to facilitate real-time communication between customers and restaurant staff.</li>
            </ul>
            <p><b> Blog Site</b> | Python, Flask, SQLAlchemy, HTML, CSS, Bootstrap | Jun 2023</p>
            <ul>
                <li>Built a fully functional blog website from scratch, using server-client framework, practicing object-oriented programming.</li>
                <li>Developed user authentication and CRUD operations for blog posts and user management.</li>
            </ul>
            <p><b>Flight Deal Finder</b> | Python, Twilio and Tequila APIs | May 2023</p>
            <ul>
                <li>Designed an application using OOPs concepts, to identify optimal flight deals using data from Tequila APIs.</li>
                <li>Implemented user notifcations via Twilio API for real-time alerts.</li>
            </ul>
        </div>

        <div class="section">
            <h2>Certifications</h2>
            <ul>
                <li>Python and Data Analysis Certification, Udemy, July 2023</li>
                <li>Joy of Computing Using Python, NPTEL, Oct 2019</li>
            </ul>
        </div>
    </div>
</body>
</html>
